<launch>
  <!-- ReAqROVIO (rovio_node) feeding MIMOSA's external odometry manager (loose coupling).
       Requires odometry/manager/enabled: true in MIMOSA's params, and odometry/T_B_S set to
       the transform from ReAqROVIO's IMU frame to MIMOSA's body frame. -->
  <arg name="filter_config" default="$(find rovio)/cfg/rcm_equirefrac/rovio_rcm_online.info"/>
  <arg name="camera0_config" default="$(find rovio)/cfg/rcm_equirefrac/cam0.yaml"/>
  <arg name="camera1_config" default="$(find rovio)/cfg/rcm_equirefrac/cam1.yaml"/>
  <arg name="refractive_index" default="1.33"/> <!-- 1.0 in air, 1.33 in water -->
  <arg name="clahe_clip_limit" default="3.2"/>
  <arg name="img_gamma" default="1.0"/>
  <arg name="imu_offset" default="-0.00177"/>

  <arg name="imu_topic" default="/alphasense_driver_ros/imu"/>
  <arg name="cam0_topic" default="/alphasense_driver_ros/cam0"/>
  <arg name="cam1_topic" default="/alphasense_driver_ros/cam1"/>

  <node pkg="rovio" type="rovio_node" name="rovio" output="screen" clear_params="true" required="true">
    <param name="filter_config" value="$(arg filter_config)"/>
    <param name="camera0_config" value="$(arg camera0_config)"/>
    <param name="camera1_config" value="$(arg camera1_config)"/>
    <param name="clahe_grid_size" value="8"/>
    <param name="clahe_clip_limit" value="$(arg clahe_clip_limit)"/>
    <param name="img_gamma" value="$(arg img_gamma)"/>
    <param name="imu_offset" value="$(arg imu_offset)"/>
    <param name="refractive_index" value="$(arg refractive_index)"/>

    <remap from="imu0" to="$(arg imu_topic)"/>
    <remap from="cam0/image_raw" to="$(arg cam0_topic)"/>
    <remap from="cam1/image_raw" to="$(arg cam1_topic)"/>
  </node>

  <!-- MIMOSA subscribes to /rovio/odometry directly (remap in underwater_fjord.launch). -->
</launch>
